
html, h1 {
    font-size: 1.6em;
	  font-size-adjust: auto;
	  text-align: center;
    margin-top: 0em;
    margin-bottom:0.em;
    margin-left: 10.em;
    margin-right: 10.em;
    font-weight: bolder;
	  font-size-adjust: auto;
	  color: darkseagreen
}

html, h2 {
    font-size: 0.7em;
	  text-align: center;
    margin-top: 0.0em;
    margin-bottom: 0.em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bolder;
	font-size-adjust: auto;
	  color: darkseagreen
}

html, h3 {
    font-size: 0.6em;
	  text-align: center;
    margin-top: 5;
    margin-bottom: 0.em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bolder;
	line-height: 0.em;
	font-size-adjust: auto;
	  color: white

		}

html, h4 {
    font-size: 0.8em;
	  text-align: center;
    margin-top: 10;
    margin-bottom: 0.em;
    margin-left: 0;
    margin-right: 0;
	font-size-adjust: auto;
	  color: black;

	}

html, h6 {
    font-size: 1em;
	  text-align: center;
	font-size-adjust: auto;
    margin-top: 20;
    margin-bottom: 0.em;
    margin-left: 0;
    margin-right: 0;
	  color: black;

	}

.slide {
    
		object-fit: fill;
    margin-top: 5;
    margin-bottom: 0.em;
    margin-left: 0;
    margin-right: ;
  

	            

	       
}

html, p1 {
    font-size: 0.3em;
	  text-align: center;
	font-size-adjust: auto;
    margin-top: 0.em;
    margin-bottom: -.em;
    margin-left: 0;
    margin-right: ;
    font-weight: bolder;
	  color: darkseagreen

	       
}

html, p2 {
    font-size: 0.3em;
	  text-align: center;
	font-size-adjust: auto;
    margin-top: 0;
    margin-bottom: 0.em;
    margin-left: 0em;
    margin-right: ;
    font-weight: bolder;
	  color: darkseagreen;
		

	       
}

body {
    background: #000000;
    padding: 0px;
    margin: 0px;
    width:auto;
    height: auto;
    overflow: inherit;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -1px;
    font-size: 50px;
    font-weight: bolder;
	font-size-adjust: auto;
    color: #ffff;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricprecision;
    -webkit-animation: fadein 5s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#mainCont{
  width: 100%;
	height: 100%:
  align-items: center;
  margin: 0;
	font-size-adjust: auto;
  
}

.Time {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 12px;
	table-layout: auto;
  text-align: center;
	font-size-adjust: auto;
	margin-bottom: 30px;
}
td{
  font-size: 20px;
}
th{
  font-size: 25px;
}

.tabBlock {
    background-color: rgba(0, 0, 0, 0);
    border: solid 0px #000000;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    width: 100%;
    display: block;
    margin-top: -20px;
	margin-bottom: 20px;
	font-size-adjust: auto;
}

.clock {
    vertical-align: inherit;
    font-size: 90px;
    color: #FFF00F;
    padding: 20px;
    line-height: 100px;
}

.clocklg {
    vertical-align: bottom;
    font-size: 80px;
    font-weight: bolder;
    color: #FFF00F;
    width: 90px;
    margin-bottom: 0px;
}

.seconds {
    margin-top: 100px;
}


.digital{
    display: none;
}

#digital {
    display: none;
}

#mainTable {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size-adjust: auto;
}
